*{
    background-color: rgb(255, 255, 255);
    font-size: 22px;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:900');

/* This is the base template file - please use the supplied slides to experiment */
* {box-sizing: border-box;}

.box {
    color: white;
    font-size: 100px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    padding: 15px;
}
  
/* Colours for each box */
.box1 { background:#eccc68;
font-size: ;}
.box2 { background:#ff6348;}
.box3 { background:#ff7f50;}
.box4 { background:#ff4757;}
.box5 { background:#f1c40f;}
.box6 { background:#e67e22;}
.box7 { background:#2ed573;}
.box8 { background:#1e90ff;}
.box9 { background:#c56cf0;}
.box10 { background:#18dcff;}


.container {
    color: rgb(54, 0, 104);
    font-size: 50px;
    font-family:'Lobster', cursive;
}

h2 {
    color:rgb(111, 0, 196);
    font-size: 30px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    border: solid red 2px;
}


.container{
    color:rgb(218, 32, 32);
}

.box1 { background:#eccc68;}